<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example2</h5>
          <p>
            <strong>Symbol</strong>: {{example.symbol}}</p>
          <p>
            <p>
              <strong>Start Date </strong>: {{example.startDate}}</p>
            <p>
              <strong>End Date</strong>: {{example.endDate}}</p>
            <p>
              <strong>Initial Open</strong>: {{example.open}}</p>
            <p>
              <strong>Final Close</strong>: {{example.close}}</p>
            <p>
              <strong>Change %</strong>: {{example.change}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>