<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>Symbol</strong>: {{example.symbol}}</p>
          <p>
            <strong>Open </strong>: {{example.open}}</p>
          <p>
            <strong>Close</strong>: {{example.close}}</p>
          <p>
            <strong>Change %</strong>: {{example.change}}</p>
          <p>
            <strong>High</strong>: {{example.high}}</p>
          <p>
            <strong>Low</strong>: {{example.low}}</p>
          <p>
            <strong>Volume</strong>: {{example.volume}}</p>

          <p>
            <strong>Date:</strong> {{example.date}}</p>
          <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>