<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Example2</h5>
                    <p>
                        <strong>Symbol</strong>: {{historical.symbol}}</p>
                    <p>
                        <strong>Start Date </strong>: {{historical.startDate}}</p>
                    <p>
                        <strong>End Date</strong>: {{historical.endDate}}</p>
                    <p>
                        <strong>Initial Open</strong>: {{historical.open}}</p>
                    <p>
                        <strong>Final Close</strong>: {{historical.close}}</p>
                    <p>
                        <strong>Highest Val</strong>: {{historical.high}}</p>
                    <p>
                        <strong>Lowest Val</strong>: {{historical.low}}</p>
                    <p>
                        <strong>Change %</strong>: {{historical.change}}</p>
                    <a href="/">← Back To Home</a>
                </div>
            </div>
        </div>
    </div>
</div>